.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokelink{
  text-decoration: none
  }

  .link {
    padding-right: 10px;
  }

  dt, dd {
    display: inline-block;
    margin: 0;
  }
  
  dd {
    font-weight: bold;
    font-size: 1.3em
  }
  
  dt {
    font-size: 1.5em;
    font-weight: bold;
  }

  .showlink {
    padding: 0.4rem 0.8rem;
    background-color: rgb(219, 238, 9);
    border-radius: 3px;
    color: #02322c;
    text-decoration: none !important;
    margin: 5px;
  }
  
  .showlink2 {
    padding: 0.2rem 0.8rem;
    background-color: rgb(219, 238, 9);
    border-radius: 3px;
    color: #02322c;
    text-decoration: none !important;
    margin: 5px;
  }

  .redText {
    display:block;
    width:100%;
    margin-top: 0.25rem;
    font-size: .875rem;
    color: #d9534f;
  }